
<div class="container" >
  <form class="form-horizontal"  action="/sgc/chamados/inserir" method="post" >
    <fieldset>
      <!-- Form Name -->
      <legend>Efetuar Chamados</legend>
      <% if(messages.msg == 2){ %>
        <div class="alert alert-success">
          <strong>Chamado Solicitado!</strong>
        </div>
        <% } %>
          <div class="form-group">
            <label for="text" class="control-label col-xs-2">Problema</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" name="problema" placeholder="Impressora,Computador, Internet e etc.."  />
            </div>
          </div>
          <!-- Select Basic -->

          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Prioridade</label>
            <div class="col-xs-5">
              <select id="selectbasic" name="prioridade" class="form-control">
                <% prioridade.forEach(function (prioridade) { %>
                  <option value= <%= prioridade.codigo %> >
                    <%= prioridade.nome %>
                  </option>
                  <% }); %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="control-label col-xs-2">Técnico</label>
              <div class="col-xs-5">
                <select id="selectbasic" name="tecnico" class="form-control">
                  <% var i = 0 %>
                  <% tecnico.forEach(function (tecnico) { %>
                    <option value= <%= tecnico._id %>>
                      <%= tecnico.nome %>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="control-label col-xs-2">Observação</label>
              <div class="col-xs-5">
                <div class="span9">
                  <textarea rows="6" class="form-control" name="observacao" placeholder="Descrição do Problema"></textarea>
                </div>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
